article {
  width: 500px;
}

.title{
  font-family: 'Alegreya SC', Ultra-Bold;
  font-weight: 900;
  width: 500px;
  text-align: center;
  color: #ff0000;
  font-size: 40px;
  text-shadow: -3px -3px #000, 1px 1px 0 #000, -2px -2px #000
}

/*h1 {
  font-family: ‘Metrophobic’, Arial, serif;
  font-weight: 400;
}
*/
#small1{
  color: #CC5553;
}

#small2{
  color: #CC43A3;
}

div#scores.row div{
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 5px;
  color: black;
}

#scores{
  width: 500px;
  text-align: center;
  font-size: 15px;
  margin-left: 0px;
  color: #497799;
}

#startButton{
  width: 230px;
  font-size: 15px;
  border-radius: 10px;
  position: absolute;
  margin-left: 154px;
  margin-top: 68px;
  height: 100px;
  z-index: 6;
  background-color: #FFF992;
  border: 1px solid black;
  font-size: 55px;
  color: #CC3DC0;
  padding-left: 12px;
}

#resetButton{
  border-radius: 1px;
  font-size: 15px;
  position: absolute;
  margin-left: 398px;
  margin-top: -40px;
  z-index: 5;
  width: 95px;
  border-radius: 10px;
  padding-left: 6px;
  background-color: #FFF992;
  border: 2px solid #66CCAE;
  color: #CC3DC0;
}

#box{
  position: relative;
  background-color: #7ECCBC;
  border: 2px solid black;
  height: 254px;
  width: 500px;
}

#home{
  border-right: 1px solid #688CA3;
  background-color: #A7D8FF;
  width: 53px;
  height: 250px;
}

#homeText{
  margin-left: 3px;
}

#bacon, #winAlien{
  width: 200px;
  height: 180px;
  position: relative;
  float: left;
  margin-left: 36px;

}

#player{
  position: absolute;
  background: url(../images/player.png) no-repeat;
  background-size: 55px 55px;   /* img size */
  height: 50px;
  width: 49px;                  /* img border */
  top: 85px;
}

#winMessage{
  background-color: white;
  font: #164A99;
  border: 1px solid black;
  border-radius: 4px;
  text-align: center;
  width: 500px;
  height: 300px;
  padding-top: 22px;
}

#looseMessage{
  background-color: #CC5377;
  font: #FFC5C1;
  border: 1px solid black;
  border-radius: 4px;
  text-align: center;
  width: 500px;
}

#pig{
  height: 40px;
  width: 40px;
  border-radius: 3px;
}

.enemy{
  position: absolute;
  background-size: 40px 40px;
  height: 40px;
  width: 40px;
  left: 455px;
  z-index: 0;

}

.bullet{
  position: absolute;
  border: 1px solid #FFF992;
  background-color: #CC3DC0;
  border-radius: 5px;
  height: 10px;
  width: 10px;
  left: 51px;
  z-index: 1;
}