article {
  width: 500px;
}

.title{
  font-family: 'Alegreya SC', Ultra-Bold 900 Italic;
  width: 500px;
  text-align: center;
  color: #ff0000;
  font-size: 40px;
  text-shadow: -3px -3px #BD0900, 1px 1px 0 #000, -2px -2px #000
}

#small1{
  color: #CC5553;
}

#small2{
  color: #CC43A3;
}

div#scores.row div{
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 5px;
  color: black;
}

#scores{
  width: 500px;
  text-align: center;
  font-size: 15px;
  margin-left: 0px;
  color: #497799;
}

#startButton{
  width: 150px;
  font-size: 15px;
  border-radius: 2px;
  position: absolute;
  margin-left: 288px;
  margin-top: 3px;
  height: 35px;
  z-index: 6;
}

#resetButton{
  border-radius: 2px;
  font-size: 15px;
  position: absolute;
  margin-left: 441px;
  margin-top: 3px;
  height: 35px;
  z-index: 5;
}

#box{
  position: relative;
  background-color: #7ECCBC;
  border: 2px solid black;
  height: 254px;
  width: 500px;
}

#home{
  border-right: 1px solid #688CA3;
  background-color: #A7D8FF;
  width: 53px;
  height: 250px;
}

#homeText{
  margin-left: 3px;
}

#bacon, #winAlien{
  width: 200px;
  height: 180px;
  position: relative;
  float: left;
  margin-left: 36px;

}

#player{
  position: absolute;
  background: url(../images/player.png) no-repeat;
  background-size: 55px 55px;   /* img size */
  height: 50px;
  width: 49px;                  /* img border */
  top: 85px;
}

#winMessage{
  background-color: white;
  font: #164A99;
  border: 1px solid black;
  border-radius: 4px;
  text-align: center;
  width: 500px;
  height: 300px;
  padding-top: 22px;
}

#looseMessage{
  background-color: #CC5377;
  font: #FFC5C1;
  border: 1px solid black;
  border-radius: 4px;
  text-align: center;
  width: 500px;
  padding-top: 22px;
}

#pig{
  height: 41px;
  width: 41px;
  border: 1px solid red;
  border-radius: 3px;
}

.enemy{
  position: absolute;
  background-size: 40px 40px;
  height: 40px;
  width: 40px;
  left: 455px;
  z-index: 0;

}

.bullet{
  position: absolute;
  border: 1px solid black;
  background-color: #FFA4DA;
  border-radius: 5px;
  height: 10px;
  width: 10px;
  left: 51px;
  z-index: 1;
}